 
body {
	background: black;
}

#container {
	
	margin-left: -90px;
	
}

#square1, #square2, #square3, #square4, #square5, #square6, #square7, #square8, #square9, #square10, #square11, #square12 {
	width: 100px;
	height: 100px;
	display: inline-block;
	transform: rotate(159deg) skewX(48deg) scaleX(1.5);
	margin-left: 175px;
	background: lightgray;
}

#square1 {
	background: #0d0a0f;
}

#square4 {
	background: #666666;
}

#square2, #square6, #square10 {
	background: #1a141f;
}

#square7, #square12 {
	background: #999999;
}

#square8 {
	background: #33293d
}

#square3, #square5, #square9 {
	background: #271f2e;
}

#square11 {
	background: #0d0a0f	;
}


#row2 {
	margin-left: 141px;
	margin-top: -49px;
}

#row3 {
	margin-left: 420px;
	margin-top: 5px;
}

#row4 {
	margin-left: 420px;
	margin-top: 5px;
}

#row5 {
	margin-left: -2px;
	margin-top: -49px;
}

#row6 {
	margin-left: 420px;
	margin-top: -50px;
}

#row7 {
	margin-left: 699px;
	margin-top: 5px;
}


